{% load static %}
<section class="first-section">
    <div class="first-image">
    <img src="{% static 'images/banner.png' %}" >
    </div>

    <div class="first-content">
        <p class="first-subtitle">NEW DROP '26</p>
        <h1 class="first-title">WEAR THE <br>ATTITUDE</h1>
        <p class="first-description">FASLUX brings you trend-driven oversized, five-sleeve tees crafted for the culture, styled for the now.</p>
    
    <div class="first-buttons">
           <a href="{% url 'product:index' %}#newwww" class="btn btn-one">SHOP NEW ARRIVALS</a>
           <a href="{% url 'product:index' %}#catttt" class="btn btn-two">EXPLORE COLLECTION</a>
    </div>
    <div class="first-features">
        <div class="feature">
            <div class="feature-icon">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
            </div>
            <div class="feature-text">
                <strong>PREMIUM FABRIC</strong>
                <span>220 GSM Cotton</span>
            </div>
        </div>
        <div class="feature">
        <div class="feature-icon">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
        </div>
        <div class="feature-text">
            <strong>TREND FOCUSSED</strong>
            <span>Latest Trend</span>
        </div>
        </div>

        <div class="feature">
                <div class="feature-icon">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
                </div>
                <div class="feature-text">
                    <strong>FAST SHIPPING</strong>
                    <span>Pan India Delivery</span>
                </div>
            </div>

    </div>
    </div>
</section>